{% extends 'dashboard.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script> -->

<link href="https://cdn.datatables.net/v/dt/dt-2.0.7/b-3.0.2/b-html5-3.0.2/date-1.5.2/datatables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.min.css" rel="stylesheet">

<!-- Other CSS and JS files -->
<!-- <link rel="stylesheet" type="text/css" href="/static/style.css"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<div id="main" class="main">
  <div class="pagetitle">
    <h1>EMPLOYEE LIST</h1>
    <!-- <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a >Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav> -->
  </div><!-- End Page Title -->

 

 

        
<!-- =================================this is for modal update cash advance============================= -->
              <div class="modal" id="insert_employee_modal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Employee</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
    
    
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select" id="company" aria-label="Floating label select example">
            
                                        <option selected>----Select Menu----</option>
                                        <option value="AGUA FUENTE">AGUA FUENTE</option>
                                        <option value="DRDC">DRDC</option>
                                        <option value="LCSDC">LCSDC</option>
                                        <option value="NLDC">NLDC</option>
                                               
                                    </select>
                                <label for="floatingInputGrid" class="label-large">Company</label>
                                </div>
                            </div>


                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select" id="department" aria-label="Floating label select example">
            
                                        <option selected>----Select Menu----</option>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="ENGR-ANTIPLO">ENGR-ANTIPLO</option>
                                        <option value="ENGR-CAVITE">ENGR-CAVITE</option>
                                        <option value="FINANCE">FINANCE</option>
                                        <option value="LEGAL">LEGAL</option>
                                        <option value="TREASURY">TREASURY</option>
                                        
                                        
                                    </select>
                                <label for="floatingInputGrid" class="label-large">Department</label>
                                </div>
                            </div>
        
                            
                        
                        
                       
                        
                        
                      </div>
    
                      <br>

                      <div class="row g-2">

                        <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="employee_no"  >
                              <label for="floatingInputGrid" class="label-large">Employee NO.</label>
              
                            
                            </div>
                          </div>
    
                        <div class="col-md">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="first_name"  >
                            <label for="floatingInputGrid" class="label-large">First Name</label>
            
                          
                          </div>
                        </div>


                        <div class="col-md">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="last_name" ></input>
                              <label for="floatingInputGrid" class="label-large">Last Name</label>
              
                            
                            </div>
                        </div>
                        
                        
                      </div>

                      <br>
                      <div class="row g-2">

                            <div class="col-md">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="designation"  >
                                <label for="floatingInputGrid" class="label-large">Designation</label>
                
                            
                            </div>
                            </div>


                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select" id="salary_status" aria-label="Floating label select example">
            
                                        <option selected>----Select Menu----</option>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Daily">Daily</option>
            
                                    
                                    </select>
                                    <label for="floatingInputGrid" class="label-large">Salary Status</label>
                                
                                </div>
                            </div>

                        
                      </div>

                      <br>
                      <div class="row g-2">
    
                        <div class="col-md">
                          <div class="form-floating">
                            <input type="number"  class="form-control" id="rate" ></input>
                            <label for="floatingInputGrid" class="label-large">Rate</label>
            
                          
                          </div>
                        </div>

                        


                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="employee_status" aria-label="Floating label select example">
            
                                    <option selected>----Select Menu----</option>
                                    <option value="Employed">Employed</option>
                                    <option value="Resigned">Resigned</option>
        
                                
                                </select>
                                <label for="floatingInputGrid" class="label-large">Employee Status</label>
                            
                            </div>
                          </div>

                        
                      </div>
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" id="btn_save_employee">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
    
    

    
            <div class="card">
                <div class="card-header">
    
                    
                <!--ELECTRICITY DATA
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="btn_insert_electric_data"
                    >
                    Add Electricty Consumption
                </button> -->
        
                <button type="button" class="btn btn-primary btn-right"  id="insert_jo_btn"
                    data-bs-toggle="modal" data-bs-target="#insert_employee_modal" >
                    Insert Employee
                </button>
                
                <!-- <button type="button" class="btn btn-primary btn-right"  id="btn_update_hdmf_loan"
                      data-bs-toggle="modal" >
                    Update HDMF 
                </button> -->
        
                </div>
                <div class="card-body">
                <div class="container">
                    <div class="container mt-3">

                        <table id="table_employeeList" class="table table-bordered"  style="text-align: center;">
                            <thead class="table-dark">
                                <tr>
                                    
                                    <td>Company</td>
                                    <td>Department</td>
                                    <td>ID No.</td>
                                    <td>F Name</td>
                                    <td>L Name</td>
                                    <td>Designation</td>
                                    <td>Salary Status</td>
                                    <td>Salary Rate</td>
                                    <td>Employee Status</td>
                                    
                                    <td>Action</td>
                                    
                                </tr>
                            </thead>
                            <tbody id="table_employee_list">
                            
                                    
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                
                                
                            </tbody>
            
                        
            
                        </table>
        
                    
                    
        
                </div>
        
        
                </div>
                </div>
            </div>
      
        </div>
      
         
    
                 
                
        
    
    <!-- Add Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    
    
    <script src="/static/payroll/insert_employee.js"></script>
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.7/b-3.0.2/b-html5-3.0.2/date-1.5.2/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js"></script>


    <script>
      
     
    </script>
    
    
   

{% endblock %}